@use '_variables' as *;

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__wrapper__navbar ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;

        li {
            padding: 8px 10px;

            a {
                font-family: $robotoFont;
                color: $mainColor;
                text-decoration: none;
            }

            &:last-child a {
                padding: 11px 44px;
                color: white;
                border-radius: 6px;
                background-color: $mainColor;
                cursor: pointer;
                font-size: 16px;
            }
        }
    }
}

.header__wrapper__burgerMenu, .header__wrapper__burgerMenu img {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media (max-width: 680px) {
    .header__wrapper__logo img {
        width: 85px;
        height: auto;
    }

    .header__wrapper__navbar ul {
        li {
            font-size: 13px;

            &:last-child a {
                padding: 6px 32px !important;
            }
        }
    }
}

@media (max-width: 550px) {
    .header__wrapper__navbar {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        top: 0;
        left: -100%;
        width: 60%;
        height: 100vh;
        background: #000000d5;
        transition: 0.3s; 

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; 

            li {
                font-size: 25px;
                
                a {
                    color: white !important;
                }
            }
        }
    }

    .header__wrapper__navbar.active {
        left: 0;
    }

    .header__wrapper__burgerMenu, .header__wrapper__burgerMenu img  {
        display: block;
    }
}