@use '_header' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 16px;
<<<<<<< HEAD
}

=======
} 
>>>>>>> 68f00f14097fb46562fdf251e558979af3761b37
